.patientEnterCont {
    position: relative;

}

.enterBoardCont {
    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.doctorImg {
    position: absolute;
    width: 200px;
    bottom: 0;
    right: 0;
    margin-right: 5%;

}

.enterBoard {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* logo ------------------------------------- */
.logo {
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
    margin: 20px;
}

/* Keyboard style ------------------------------------ */

.virtualKeyboard {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.keyboard {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 15pt;
}

.keyboard:hover {
    background-color: #352ce1 ;
    color: white;
    cursor: pointer;
}

.inputNameBtn {
    background-color: rgb(239 243 255);
    color: rgb(56, 58, 58);
    border: none;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 15pt;
}

.continueBtn {
    background-image: linear-gradient(to right, #36D1DC 0%, #1c33de  51%, #36D1DC  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border: none;
    padding: 8px;
    margin: 20px;
    width: 120px;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 13pt;
    cursor: pointer;

}

.deletePrevBtn {
    background-color: rgb(239 243 255);
    color: rgb(56, 58, 58);
    font-weight: 700;
    font-size: 15pt;
}

.spaceBtn {
    background-color: rgb(239 243 255);
    color: rgb(56, 58, 58);
    width: 120px;
    height: 60px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    font-weight: 700;
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}



/* Clinic style ------------------------------------ */
.insertClinic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allClinic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clinic {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 200px;
    font-weight: 700;
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.clinic:hover {
    background-color: #352ce1 ;
    color: white;
    cursor: pointer;
}

.inputClinicBtn {
    background-color: rgb(239 243 255);
    color: rgb(56, 58, 58);
    border: none;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    margin: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 15pt;

}


/* Number note style ------------------------------------ */
.numberNote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.patientInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.numberCont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #36D1DC 0%, #1c33de  51%, #36D1DC  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    font-weight: 600;
    font-size: 13pt;
    margin: 8px;
    padding: 10px;


}

.uniqueNumber {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 40pt;
}

.moreDetails {
    background-color: rgb(239 243 255);
    color: rgb(56, 58, 58);
    border: none;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 8px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14pt;

}

.saveNumber {
    margin: 10px;
}




/* Media query for tablets (landscape and portrait) */
@media screen and (max-width: 768px) {
    .enterBoardCont {
        width: 550px;
        height: 550px;
    }

    .doctorImg {
        position: absolute;
        width: 130px;
        bottom: 0;
        right: 0;
        margin-right: 5%;
    }



    .patientEnterCont {
        position: relative;

    }



    .enterBoard {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 80px;
    }

    .virtualKeyboard {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        align-items: center;
        justify-content: center;
    }

    .keyboard {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border: none;
        margin: 3px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 12pt;
    }



    .inputNameBtn {       
        width: 170px;
        padding: 15px;
        margin: 10px;        
        font-size: 13pt;
    }

    .continueBtn {    
        padding: 8px;
        margin: 20px;
        width: 100px;      
        font-size: 12pt;
    }

    .deletePrevBtn {
        font-size: 12pt;
        margin: 3px;
        font-weight: 700;

    }

    .spaceBtn {
        width: 100px;
        height: 50px;
        margin: 3px;
        font-size: 12pt;
    }


}

         

 